@charset "UTF-8";

/* Mobile First 로 제작 */

* {
    box-sizing: border-box;
}

.container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

input[type=text], select, textarea{
    width: 100%;  /* mobile */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;  /* textarea 가 상하 로만 resize 가능 */
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;  /* 이리 해야 위 패딩이 작동한다. block 속성이어야 padding-top, padding-bottm 이 적용된다 */
}

input[type=submit] {
    width: 100%;  /* mobile */
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 4px;
    float: right;  /* 일단 이리 하면 container 에서 나간듯이 보인다 */
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"]{
	width: 100%;  /* mobile first */
}

@media (min-width: 600px){
    /* PC */

    [class*="col-"] {
        float: left;
        margin-top: 6px;
    }

    input[type=submit]{
        width: auto;
    }

    .col-1 {width: 8.33%; }  /* 1칸 짜리 폭 */
	.col-2 {width: 16.66%; }  /* 2칸 짜리 폭 */
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

}